<div class="container px-5">
  <div class="row">
    <div class="col-12">
      <h1>ようこそGame_Search-Siteへ!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>
        好きなジャンルのゲームで遊びたい！</br>
        自分に合ったゲームを探したい！</br>
        そんな方々がいいゲームに出会えるように願って、このサイトは制作されました。</br>
        </br>
        ジャンル検索とレビュー機能であなたのゲーム選びをお手伝いします。</br>
        更にレビューにした人に質問(コメント)することもできるので、</br>
        遊ぶ上でわからないことがあれば質問してみましょう！
      </h4>
    </div>
  </div>
</div>
      