<div class="container px-5 bg-white">
  <div class="row">
    <div class="col-12">
      <div class="center-block">
        <div class="title">ようこそGame_Search-Siteへ!</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="border-radius">
        好きなジャンルのゲームで遊びたい！</br>
        自分に合ったゲームを探したい！</br>
        そんな方々がいいゲームに出会えるように願って、このサイトは制作されました。</br>
        </br>
        ジャンル検索とレビュー機能であなたのゲーム選びをお手伝いします。</br>
        更にレビューにした人に質問(コメント)することもできるので、</br>
        遊ぶ上でわからないことがあれば質問してみましょう！
      </div>
    </div>
  </div>
</div>
      