/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.introduction_field {
  width: 500px;
  height: 400px;
  background-color: red;
}

.custom-button {
  display: inline-block; /* ボタンをインラインブロック要素に設定 */
  padding: 10px 20px; /* パディングを調整してボタンのサイズを変更 */
  background-color: #007bff; /* ボタンの背景色 */
  color: #fff; /* テキストの色 */
  text-decoration: none; /* リンクの下線を非表示に */
  border: 1px solid #007bff; /* ボーダーのスタイル */
  border-radius: 5px; /* 角丸の設定 */
}